
header {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.color-boxes {
  border: 2px solid magenta;
  width: 15%;
  height: 250px;
}

.controls-container {
  width: 70%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lower-controls-container {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.project-container {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}