* {
  background-color: #333;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-palette-button {
  height: 50%;
  margin: auto;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: -1px; 
  line-height: 1;
  padding-left: 10px;
}

button:hover {
  background-color: #C0C0C0;
  color: #333;
  cursor: pointer;
}

input {
  background-color: #C0C0C0;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.color-boxes {
  width: 18%;
  height: 300px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.controls-container {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.lower-controls-container {
  margin: 1em;
}

.projects-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.color-codes {
  margin: 0 auto;
}

.lock-buttons {
  border: none;
  height: 2em;
}

.lock-buttons:hover {
  color: #fff;
  text-decoration: underline;
}

label {
  margin: 0 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: -0.5px; 
  line-height: 1;
}

.saved-projects-section {
  display: flex;
  flex-wrap: wrap;
}

.project-article {
  width: 15%;
}

.project-name-header {
  margin: 0.5rem auto;
}

.palette-mini-color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.palette-name-header {
  margin: 0.25rem auto;
}

.mini-color-boxes {
  background-color: aqua;
  width: 10px;
  height: 10px;
}